<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cassina.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C9380E21C9D8F3D00F63BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9380F61C9D8F3D00F63BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9381011C9D8F3D00F63BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
